/*
menu-colour: #D89D6A;
article-colour:  #61D095;
background colour:  #FFEADC;
#DCB390
#EBA05E
border:  #439775

text title:  red with black stroke;
-webkit-text-stroke: 2px black;


*/

.shopCollection{
	position: relative;
	display: flex;
	flex-direction:row ;
	flex-wrap: wrap;
	justify-content:  center;
}

.shopCard{
	border: 1px solid black;
	height:  30vw;
	width:  20vw;
	position: relative;
	display:  flex;
	flex-direction: column;
	align-items: center;
	border:  0.5vw solid #439775;
	margin: 1vw;
	background-color:#61D095;
	overflow: hidden;
}

.shopCard h3{
	font-size: 1.5vw;
	margin:  1vw;
	color:  red;
	-webkit-text-stroke: 0.5px black;
}

.shopimg{
	width:  15vw;
	height: 10vw;
	border:  0.25vw solid #439775;
	background-color:#61D095;
	margin:  0;
	overflow: hidden;
}

.location{
	text-align:  justify;
	font-size: 1.25vw;
	margin: 1vw;
}

.location p{
	margin-left: 0.25vw;
	margin-right:  0.25vw;
	margin-top:  0;
	margin-bottom:  0.25vw;
}

.address{
	font-size: 1vw;
	padding-top:  1vw;
}

.btn{
	background-color:lightblue;
	position: absolute;
	width:  110%;
	height: 10%;
	padding:  0;
	margin:  0;
	bottom: 0;
	border:  none;
}

.btn:hover{
	background-color:blue;
	transform:  scale(1.25);
}