.shop-info-container{
	display:  flex;
	flex-direction: row;
	width:  90%;
	margin-right:  5%;
	margin-left:  5%;
	height: 35vh;
	box-shadow: 5px 5px 5px grey;
	margin-bottom:  2.5%;
	margin-top:  2.5%;
}
.image{
	max-height: 100%;
	max-width: 100%;
}
.shop-img{
	position: relative;
	display:  flex;
	float:  left;
	min-width:  30%;
	max-width:  50%;
	height:  100%;
	overflow:  hidden;
}

.shop-description p{
	margin-right:  1em;
	margin-left:  1em;
	text-align:justify;
	margin-top:  0;
	margin-bottom:  0;
}


.shop-description{
	height:  35%;
	overflow:  hidden;
	margin-bottom: 2.5%;
}

.shop-name{
	height:  20%;
}

.shop-name h2{
	margin:  0;
	margin-block-start: 0em;
    margin-block-end: 0em;
}
.shop-address{
	margin:  0;
	height:20%;
	overflow:  hidden;
}
.btn{
	width:  auto;
}

.button{
	display:  flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 10px;
}

.text-container{
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 70%;
	min-width:  50%;
	margin: 0;
}

.shop-address p{
	margin-right:  1em;
	margin-left:  1em;
	text-align:justify;
	margin-top:  0;
	margin-bottom:  0;
}

.weed-card-collection{
	display:  flex;
	flex-direction:  row;
	flex-wrap:  wrap;
	width: 95%;
	margin-top:  2.5%;
	margin-left: 2.55%;
	margin-right:  2.55%;
	margin-bottom:  2.5%;
	align-content: space-around;
    justify-content: center;
    align-items: center;
}

.card{
 	height: 70vh;
 }

 .stats{
 	margin-bottom: 0;
 	margin-top:  0.5em;
 }

 .card-body{

	max-height: 60%;
 }
 .desc{
	max-height: 70%;
	overflow-y: scroll;
 	margin-bottom: 0;
 	margin-top:  0em;
 }

 .card-image{
	text-align: center;
	max-height: 20%;
 }

 .weed-custom{
	margin: 0.5em;
 }