{% extends 'main.html' %}

{% block stylesheet %}

{% endblock %}

{% block body %}

	<div class="carousel">
		<!-- carousel locator -->
		<input class="carousel-locator" id="slide-1" type="radio" name="carousel-radio" hidden="" checked="">
		<input class="carousel-locator" id="slide-2" type="radio" name="carousel-radio" hidden="">
		<input class="carousel-locator" id="slide-3" type="radio" name="carousel-radio" hidden="">
		<input class="carousel-locator" id="slide-4" type="radio" name="carousel-radio" hidden="">
	
		<!-- carousel container -->
		<div class="carousel-container">
			<!-- carousel item -->
			<figure class="carousel-item">
				<label class="item-prev btn btn-action btn-lg" for="slide-4"><i class="icon icon-arrow-left"></i></label>
				<label class="item-next btn btn-action btn-lg" for="slide-2"><i class="icon icon-arrow-right"></i></label>
				<img class="img-responsive rounded car-image" src="static/news/{{image[len-1]}}" alt="{{titles[len]}}">
			</figure>
			<figure class="carousel-item">
				<label class="item-prev btn btn-action btn-lg" for="slide-1"><i class="icon icon-arrow-left"></i></label>
				<label class="item-next btn btn-action btn-lg" for="slide-3"><i class="icon icon-arrow-right"></i></label>
				<img class="img-responsive rounded car-image" src="static/news/{{image[len-2]}}" alt="{{titles[len-1]}}">
			</figure>
			<figure class="carousel-item">
				<label class="item-prev btn btn-action btn-lg" for="slide-2"><i class="icon icon-arrow-left"></i></label>
				<label class="item-next btn btn-action btn-lg" for="slide-4"><i class="icon icon-arrow-right"></i></label>
				<img class="img-responsive rounded car-image" src="static/news/{{image[len-3]}}" alt="{{titles[len-2]}}">
			</figure>
			<figure class="carousel-item">
				<label class="item-prev btn btn-action btn-lg" for="slide-3"><i class="icon icon-arrow-left"></i></label>
				<label class="item-next btn btn-action btn-lg" for="slide-1"><i class="icon icon-arrow-right"></i></label>
				<img class="img-responsive rounded car-image" src="static/news/{{image[len-4]}}" alt="{{titles[len-3]}}">
			</figure>
		</div>
			<!-- carousel navigation -->
		<div class="carousel-nav">
			<label class="nav-item text-hide c-hand" for="slide-1">1</label>
			<label class="nav-item text-hide c-hand" for="slide-2">2</label>
			<label class="nav-item text-hide c-hand" for="slide-3">3</label>
			<label class="nav-item text-hide c-hand" for="slide-4">4</label>
		</div>
	</div>
	<div class="divider text-center" data-content="LATEST NEWS"></div>
	<div class="card-container">
		{% for i in range(0, len) %}
		<div class="column col-3 col-xs-12 card-custom">
			<div class="popover popover-top">
				<div class="card column col-12 col-xs-12">
					<div class="card-image newsimage text-center">
						<img class="" src="static/news/{{image[i]}}" alt="OS X Yosemite">
					</div>
					<div class="card-header newscard">
						<div class="card-title newstitle h6">{{titles[i]}}</div>
					</div>
				</div>
				<div class="popover-container">
					<div class="card">
						<div class="card-header">
							<div class="card-title h5">{{titles[i]}}</div>
						</div>
						<div class="card-body body-news">
						{{summ[i]}}
						</div>
						<div class="card-footer">
							<a class="btn btn-primary" onClick="location.href='{{url[i]}}'">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
