<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Weed Cards</title>
	<link rel="stylesheet" href="itemcards.css">
</head>
<body>
	<div class="card-collection">
		<div class="shopItemCard">
			<div class="itemTitle">
				<h3>Original Pine Cone 70:30</h3>
			</div>
			<img class="itemImage" src="pinecone.jpg">
			<div class="itemCardDescription">
				<p>
				Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<table class="itemTable">
					<tr>
						<th>Category</th>
						<td>Sativa</td>
					</tr>
					<tr>
						<th>THC%</th>
						<td>15%</td>
					</tr>
					<tr>
						<th>Flavor</th>
						<td>Grapefruit, Citrus</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="shopItemCard">
			<div class="itemTitle">
				<h3>Original Pine Cone 70:30</h3>
			</div>
			<img class="itemImage" src="pinecone.jpg">
			<div class="itemCardDescription">
				<p>
				Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<table class="itemTable">
					<tr>
						<th>Category</th>
						<td>Sativa</td>
					</tr>
					<tr>
						<th>THC%</th>
						<td>15%</td>
					</tr>
					<tr>
						<th>Flavor</th>
						<td>Grapefruit, Citrus</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="shopItemCard">
			<div class="itemTitle">
				<h3>Original Pine Cone 70:30</h3>
			</div>
			<img class="itemImage" src="pinecone.jpg">
			<div class="itemCardDescription">
				<p>
				Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<table class="itemTable">
					<tr>
						<th>Category</th>
						<td>Sativa</td>
					</tr>
					<tr>
						<th>THC%</th>
						<td>15%</td>
					</tr>
					<tr>
						<th>Flavor</th>
						<td>Grapefruit, Citrus</td>
					</tr>
				</table>
			</div>
		</div>
		
	</div>
</body>
</html>