<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CM Greens</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='wire.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='shopcards.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='itemcards.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}">
</head>
<body>
{% block content %}
{% endblock %}


{% block script %}

{% endblock %}
<footer></footer>
</body>
</html>