{% extends 'main.html' %}
{% block body %}
<div class="carousel">
  	<!-- carousel locator -->
  	<input class="carousel-locator" id="slide-1" type="radio" name="carousel-radio" hidden="" checked="">
  	<input class="carousel-locator" id="slide-2" type="radio" name="carousel-radio" hidden="">
  	<input class="carousel-locator" id="slide-3" type="radio" name="carousel-radio" hidden="">
  	<input class="carousel-locator" id="slide-4" type="radio" name="carousel-radio" hidden="">
  
  	<!-- carousel container -->
  	<div class="carousel-container">
    	<!-- carousel item -->
    	<figure class="carousel-item">
      		<label class="item-prev btn btn-action btn-lg" for="slide-4"><i class="icon icon-arrow-left"></i></label>
      		<label class="item-next btn btn-action btn-lg" for="slide-2"><i class="icon icon-arrow-right"></i></label>
      		<img class="img-responsive rounded" src="img1.jpg" alt="">
    	</figure>
    	<figure class="carousel-item">
      		<label class="item-prev btn btn-action btn-lg" for="slide-1"><i class="icon icon-arrow-left"></i></label>
      		<label class="item-next btn btn-action btn-lg" for="slide-3"><i class="icon icon-arrow-right"></i></label>
      		<img class="img-responsive rounded" src="img3.jpg" alt="">
    	</figure>
    	<figure class="carousel-item">
      		<label class="item-prev btn btn-action btn-lg" for="slide-2"><i class="icon icon-arrow-left"></i></label>
      		<label class="item-next btn btn-action btn-lg" for="slide-4"><i class="icon icon-arrow-right"></i></label>
      		<img class="img-responsive rounded" src="img2.jpg" alt="">
    	</figure>
    	<figure class="carousel-item">
      		<label class="item-prev btn btn-action btn-lg" for="slide-3"><i class="icon icon-arrow-left"></i></label>
      		<label class="item-next btn btn-action btn-lg" for="slide-1"><i class="icon icon-arrow-right"></i></label>
      		<img class="img-responsive rounded" src="img4.jpg" alt="">
    	</figure>
  	</div>
  		<!-- carousel navigation -->
  	<div class="carousel-nav">
    	<label class="nav-item text-hide c-hand" for="slide-1">1</label>
    	<label class="nav-item text-hide c-hand" for="slide-2">2</label>
    	<label class="nav-item text-hide c-hand" for="slide-3">3</label>
    	<label class="nav-item text-hide c-hand" for="slide-4">4</label>
  	</div>
</div>

<!-- ########################################################################################################## -->
<div class="shop-container">
	{%for i in range(0, len)%}
	<div class="column col-3 col-xs-12">
    	<div class="card">
			<div class="card-image">
				<img class="img-responsive" src="/static/{{photo[i]}}" alt="{{photo[i]}}">
			</div>
			<div class="card-header">
				<div class="card-title h5">{{shopname[i]}}</div>
			</div>
			<div class="card-body">{{description[i]}}</div>
			<div class="card-footer">
				<a class="btn btn-primary" href="#cards">Do</a>
			</div>
    	</div>
    </div>
	{% endfor %}    
</div>
{% endblock %}