<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>List of Shops</title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
	<link rel="stylesheet" href="home.css">
	<link rel="stylesheet" href="shops.css">
	<link rel="stylesheet" href="weedlest.css">
	<link rel="stylesheet" href="shop.css">
</head>
<body>
	<div class="column col-sm-12 col-12 col-mx-auto" id="cont">
	    <div class="parallax">
			<div class="parallax-top-left" tabindex="1"></div>
			<div class="parallax-top-right" tabindex="2"></div>
			<div class="parallax-content">
		    	<div class="parallax-front" id="title-text">
		    		<h2>Chiang Mai</h2>
		    		<h1>Greens</h1>
		    	</div>
		    	<div class="parallax-back">
		    		<img src="background.jpg" class="img-responsive rounded" ...>
		    	</div>
		    </div>
		</div>
	</div>

	<header class="navbar navbar-center">
		<a href="#" class="btn btn-link">Home</a>
		<a href="#" class="btn btn-link">Shops</a>
		<a href="#" class="btn btn-link">Strains</a>
	</header>

<!-- ########################################################################################################## -->
<div class="divider text-center" data-content="STRAINS AVAILABLE IN CHIANG MAI"></div>

<div class="weed-container">
	<div class="column col-3 col-xs-12">
    	<div class="card">
			<div class="card-image">
				<img class="img-responsive" src="img1.jpg" alt="OS X El Capitan">
			</div>
			<div class="card-header">
				<div class="card-title h5 text-center">Weed name</div>
				<div class="card-subtitle text-gray text-center">Indica or Sativa or Hybrid</div>
			</div>
			<div class="card-body">Empower every person and every organization on the planet to achieve more.</div>
			<div class="button">
				<a class="btn" href="#cards">View More Info</a>
			</div>
    	</div>
    </div>


    <div class="column col-3 col-xs-12">
    	<div class="card">
			<div class="card-image">
				<img class="img-responsive" src="img1.jpg" alt="OS X El Capitan">
			</div>
			<div class="card-header">
				<div class="card-title h5 text-center">Microsoft</div>
				<div class="card-subtitle text-gray text-center">Software and hardware</div>
			</div>
			<div class="card-body">Empower every person and every organization on the planet to achieve more.</div>
			<div class="button">
				<a class="btn" href="#cards">View More Info</a>
			</div>
    	</div>
    </div>


    <div class="column col-3 col-xs-12">
    	<div class="card">
			<div class="card-image">
				<img class="img-responsive" src="img1.jpg" alt="OS X El Capitan">
			</div>
			<div class="card-header">
				<div class="card-title h5 text-center">Microsoft</div>
				<div class="card-subtitle text-gray text-center">Software and hardware</div>
			</div>
			<div class="card-body">Empower every person and every organization on the planet to achieve more.</div>
			<div class="button">
				<a class="btn" href="#cards">View More Info</a>
			</div>
    	</div>
    </div>


    <div class="column col-3 col-xs-12">
    	<div class="card">
			<div class="card-image">
				<img class="img-responsive" src="img1.jpg" alt="OS X El Capitan">
			</div>
			<div class="card-header">
				<div class="card-title h5 text-center">Microsoft</div>
				<div class="card-subtitle text-gray text-center">Software and hardware</div>
			</div>
			<div class="card-body">Empower every person and every organization on the planet to achieve more.</div>
			<div class="button">
				<a class="btn" href="#cards">View More Info</a>
			</div>
    	</div>
    </div>

    <div class="column col-3 col-xs-12">
    	<div class="card">
			<div class="card-image">
				<img class="img-responsive" src="img1.jpg" alt="OS X El Capitan">
			</div>
			<div class="card-header">
				<div class="card-title h5 text-center">Microsoft</div>
				<div class="card-subtitle text-gray text-center">Software and hardware</div>
			</div>
			<div class="card-body">Empower every person and every organization on the planet to achieve more.</div>
			<div class="button">
				<a class="btn" href="#cards">View More Info</a>
			</div>
    	</div>
    </div>
    
</div>



</body>
<footer></footer>
</html>