{% extends 'main.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='weedlest.css') }}">
{% endblock %}
<!-- ########################################################################################################## -->
{% block body %}
<div class="divider text-center" data-content="STRAINS AVAILABLE IN CHIANG MAI"></div>

<div class="weed-container">
	{%for i in range(1, len)%}
	<div class="column col-3 col-xs-12">
    	<div class="card">
			<div class="card-image">
				<img class="" src="/static/cannabis/{{weed[i][1]}}" alt="OS X El Capitan">
			</div>
			<div class="card-header">
				<div class="card-title h5 text-center">{{weed[i][0]}}</div>
				<div class="card-subtitle text-gray text-center">{{weed[i][2]}}</div>
			</div>
			<div class="card-body">{{weed[i][3]}}</div>
			<div class="button">
				<a class="btn" rel="nofollow" target="_blank" href="https://www.leafly.com/search?q={{weed[i][0]}}">View More Info</a>
			</div>
    	</div>
    </div>
{% endfor %}
</div>
{% endblock %}
    


